body {
    background-color: #ecf0f1;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

#container {
    background-color: #d35400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
}

#timer {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 120px;
    color: white;
    margin: 20px;
}

button {
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    background-color: #e67e22;
    border-radius: 15px;
    border-color: transparent;
    color: white;
}

#select-time {
    display: flex;
    justify-content: space-around;
}

.select-time-button {
    padding: 15px;
}

#time-button {
    font-weight: 600;
    border-radius: 20px;
    width: 100px;
    border-color: rgba(211, 84, 0, 0.456);
    border-width: 5px;
}

#buttons {
    display: flex;
    justify-content: space-around;
}

.control {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 50%;
}

svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#information {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
    margin: 20px;
    width: 350px;
    height: 100px;
    /* position: absolute;
    left: 50%;
    transform: translate(-50%); */

}

a {
    font-weight: 700;
    font-size: large;
    text-decoration: none;
    color: inherit;
}

img {
    height: 100px;
}